.FormularioRecuperar{
    margin: 5px 0;
    padding: 20px;
    border: 0.5px solid #f1f1f1;
        
}

.botonI {
    background-color: #FFB800;
    color: white;
    font-size: large;
    padding: 14px 14px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  .cancelbtn {
    font-size: large;
    padding: 14px 14px;
    margin: 10px 0;
    width: 100%;
    background-color: #aa0404;
  }