<ion-header> 
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"
      text="Regresar"
      color="primary">
      </ion-back-button>
    </ion-buttons>
  
    <ion-title>QR</ion-title>
  </ion-toolbar>
  </ion-header> 


<ion-content>
  <ion-card>
    <img src="assets/icon/qr.png" alt="avatar" class="qr">
    <ion-card-header>
      <ion-card-title>CODIGO QR</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Este es tu codigo QR generado para registrar tus clases.
    </ion-card-content>
  </ion-card>
</ion-content>

