.cancelbtn {
    width: auto;
    font-size: large;
    padding: 14px 14px;
    background-color: #aa0404;
  }

.FormularioRegistro{
    margin: 5px 0;
    padding: 20px;
    border: 0.5px solid #f1f1f1;
        
}

.item{
    margin:5px 0;
}

span.psw {
    float: right;
    padding-top: 16px;
  }

.botonI {
    background-color: #FFB800;
    color: white;
    font-size: large;
    padding: 14px 14px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  
.error-message{
  color: var(--ion-color-danger)
}